/* App.css atau styles yang terhubung dengan komponen App */
.full-screen-background {
    width: 100%;
    height: 100vh;
    background-image: url('/bg-img2.png');
    background-size: cover; /* Menutup seluruh area */
    background-position: center; /* Menyusun gambar agar selalu di tengah */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    position: relative; /* Mengatur positioning konten */
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Mencegah scroll horizontal */
  }
  
  
  .locked-content {
    position: relative;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .locked-overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
    z-index: 10; /* Overlay memiliki z-index rendah */
  }
  
  
  .locked-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tinggi layar penuh */
    text-align: center; /* Pastikan teks berada di tengah */
    background-color: rgba(0, 0, 0, 0.2); /* Tambahkan efek latar belakang transparan */
  }
  
  .locked-icon {
    width: 150px; /* Ubah ukuran ikon sesuai kebutuhan */
    height: 150px;
    color: white;
  }
  
  .locked-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  